My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        0
      ],
      "id": "ec17edf5-a4c9-4c0c-a4ec-d68ba57589ea",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/n8n-io/n8n/stargazers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GITHUB_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        0
      ],
      "id": "c1792b85-b00b-42f0-bd49-ad5a0da6564e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1db492ec-29e9-4881-b481-509220ce43a3",
              "name": "username",
              "value": "={{$json[\"login\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        176,
        0
      ],
      "id": "b697c0b9-3363-47c5-be20-d14697e7dcae",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://api.github.com/users/{{$json[\"username\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        368,
        0
      ],
      "id": "081da671-73b5-426f-9edd-fc83b9e9c4c2",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "69b16563-71db-4b83-80fa-75f8182f258d",
              "leftValue": "={{$json[\"followers\"]}}",
              "rightValue": 100,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "fb5fcb07-df63-45c0-a11b-940d87a6ed01",
              "leftValue": "={{$json[\"public_repos\"]}}",
              "rightValue": 50,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        592,
        0
      ],
      "id": "2709f5fb-8bfd-4739-8d38-83cc173f1933",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a sales assistant.\n\nBased on this GitHub profile:\n\nBio: {{$json[\"bio\"] || \"No bio available\"}}\nCompany: {{$json[\"company\"] || \"No company\"}}\n\nWrite a short, 1 sentence sales pitch explaining why we should connect with this person.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        720,
        -272
      ],
      "id": "9b9b1833-d8e3-4b9a-99cc-c0a70d230362",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        -128
      ],
      "id": "27ce994b-b5dc-4ce7-ae89-33d8c090ad2b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2KGx4sxxcMpw6eYn",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1486604981279920149/iTZRP59TH4AehGkcLHQTef_Jx1XFY_HPDy1KO61mosxsaCSnXTpjZCRqH80HGNX1tRXa",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": {{ JSON.stringify(\n\"🔥 High Value Lead Found!\\n\\n\" +\n\"👤 Name: \" + ($json[\"name\"] || \"NA\") + \"\\n\" +\n\"🏢 Company: \" + ($json[\"company\"] || \"NA\") + \"\\n\" +\n\"🧠 Bio: \" + ($json[\"bio\"] || \"NA\") + \"\\n\\n\" +\n\"💡 AI Pitch:\\n\" + ($json[\"text\"] || \"NA\")\n) }}\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1168,
        0
      ],
      "id": "82d60fd2-b6a9-46ed-a4d1-bc3c406efd54",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        0
      ],
      "id": "3e3e1086-d8bb-406e-bfdb-902c9d079e2a",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e1e03835-2797-4c66-a706-e86a6f63d8b6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9118821ca76185f0480d6cb2d2d737c091d76e09f4800250de40017a7339b96d"
  },
  "id": "m1ZugbmzZP46Sqzd",
  "tags": []
}